[2016-08-01 09:13] ihorsamusenko opened #96 "How do I mock services in Symfony DIC in functional testing?"
How do I mock services in Symfony DIC in functional testing?

I can do it through some test_services.yml and config_test.yml. But I wonder if there is a better way to be able to mock things directly in tests?

[2017-06-07 20:53] ThomasLandauer opened #95 "Send an email in a Cest file in an acceptance test (Symfony service)"
#### What are you trying to achieve?
Send an email from a private method in a Cest file in an acceptance test. I'm using Symfony's Mailer service to set up the message and send it when the test is run:

[code]

#### What do you get instead?
No email :-(
But the mailer returns `1` (meaning 1 message has been sent).
The same code does work in a controller.

So I'm suspecting that emails are being "c

[2018-09-12 10:05] lexdevelop opened #91 "API tests stream response in terminal"
- **Codeception issue:** My symfony controllers may return Symfony\Component\HttpFoundation\StreamedResponse  which causes the problem when i run test in terminal, even without --debug or --steps i got weird characters in my terminal like:

`Codeception PHP Testing Framework v2.4.5
Powered by PHPUnit 7.3.4 by Sebastian Bergmann and contributors.

[1mApi Tests (12) [22m-----------------------------

[2018-11-05 13:26] bogdan-dubyk opened #89 "Can't associate mock with symfony service"
I have a lot of API calls and I want to mock API client in functional tests. Note: I run this process by Symfony command

But I'm still getting real API response

I have such a test case (simplified)

[code]

and logic of `replaceSymfonyServiceWithMock`inside of functional helper
[code]

### Details

* Codeception version: 2.4
* PHP Version: 7.2.10
* Operating System: MacOs
* Installation type: Co

[2019-01-07 15:49] ThomasLandauer opened #88 "Symfony: `environment: 'prod'` not working"
#### What are you trying to achieve?

Run tests in Symfony's PROD environment.

#### What do you get instead?

Tests are still run in TEST environment.

### Details

To investigate this, I created a controller which just outputs the environment (`return new Response($kernel->getEnvironment());`). When browsing to its url I get whatever I have in Symfony's `.env`. Fine.

When I access the url with

[2019-02-26 21:27] ThomasLandauer opened #99 "Symfony: `.env.local` and `.env.test` are ignored"
Starting in November 2018, Symfony has changed the way `.env` files are working: https://symfony.com/doc/current/configuration.html#the-env-file-environment-variables

These changes are not realized in Codeception.

To assert this, I created a controller which just outputs an environment variable:
[code]

When I access the url with codeception (`codecept_debug($I->grabPageSource());`), I always ge

[2019-10-24 11:01] burned42 opened #1 "runSymfonyConsoleCommand does not work if the command has arguments"
In the changelog I noticed that @wirwolf recently added `runSymfonyConsoleCommand` and I tried to use it with a command that has an argument.

The problem is that when symfony determines the command name to use, it calls `getFirstArgument` on the `$input` (https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Console/Application.php#L980) which in case of `ArrayInput` (which is used

[2019-11-13 13:40] burned42 commented on #1
Since in the meantime I also needed to pass some console inputs to answer interactive questions (https://symfony.com/doc/current/components/console/helpers/questionhelper.html#testing-a-command-that-expects-input) I came up with the following solution, which works with arguments, options and also console input, based on the symfony documentation (https://symfony.com/doc/current/console.html#testin

[2020-02-27 12:08] vedro-compota commented on #1
I see same problem

[2020-02-28 06:56] Naktibalda commented on #1
Please fix it and raise pull request.

[2020-04-03 04:31] eortiz-tracktik commented on #1
@Naktibalda I have open a PR with the code suggested by @burned42 https://github.com/Codeception/module-symfony/pull/7

[2020-04-05 14:12] Naktibalda commented on #1
Thanks @eortiz-tracktik

I released it as 1.1.0

[2020-04-05 14:12] #1 closed

[2020-05-04 14:48] Amunak opened #8 "The cache_router option breaks routing"
Enabling `cache_router` causes a weird issue where the Symfony Matcher (most likely framework-bundle/Routing/Router) has a different instance of `\Symfony\Component\Routing\RequestContext` than the one RouterListener (a HttpKernel Listener responsible for actually calling the Matcher and resolving the route when a Request arrives) has.

RouterListener and Matcher unfortunately require that the Req

[2020-10-22 10:03] ThomasLandauer opened #22 "Suggestion: Show the generated Request object on `--debug` or `-vvv`"
Follow up of https://github.com/Codeception/Codeception/issues/5977#issuecomment-694696510

Since Symfony Module doesn't perform an actual HTTP request, but rather generates a Symfony `Request` object, it would be nice to be able to dump this object somehow, to see what's actually in there.

[2020-10-22 23:18] TavoNiievez commented on #22
Hey @ThomasLandauer it would be quite useful!
Can you specify which attributes of the object you think would be useful for debugging? That object is relatively large and even has other nested objects, so if you can give a list of the ones that you think are most relevant, based on [that comparison](https://github.com/Codeception/Codeception/issues/5977#issuecomment-694696510), I think it would hel

[2020-10-23 10:22] ThomasLandauer commented on #22
This is the object we're talking about, right? https://github.com/symfony/browser-kit/blob/v5.1.5/Request.php

Looking at the properties there, I'd say:
* `protected $uri;` Just a string? => Show it!
* `protected $method;` Just a string too? => Show it
* `protected $parameters;` What is this? HTTP headers and stuff?
* `protected $files;` Uploaded files?
* `protected $cookies;` An array of strings?

[2020-11-03 09:27] mickral opened #87 "[PHPUnit\Framework\Exception] ini_set(): Headers already sent. You cannot change the session module's ini settings at this time"
Hi, I setup codeception framework and when I'm trying to run functional test suite I receive error
 [PHPUnit\Framework\Exception] ini_set(): Headers already sent. You cannot change the session module's ini settings at this time

How can I dismiss this error to finish setup

We are using PHP + Symfony running in container

### Details

* Codeception version: 4.1.8
* PHP Version: 7.3.11
* Symfony: 5

[2020-11-09 16:17] BastienLedon opened #34 "User from Security service is not available in Doctrine Listeners"
Hello,

When trying to test a part of our code with an Event Listener like:

[code]

$user is always null

I found this SO question with the exact same problem:
https://stackoverflow.com/questions/57609821/make-security-available-for-doctrine-onflush-within-functional-test

Do you recommend using the workaround given in the SO answers or something else ?

[2020-11-17 15:34] ThomasLandauer opened #42 "ini_set(): A session is active. You cannot change the session module's ini settings at this time"
I'm getting this `PHPUnit\Framework\Exception`:

In my `config/packages/test/framework.php`, I have:

[code]
https://github.com/Codeception/Codeception/issues/6025 is similar.

When I set the `handler_id` to `null`, this error disappears, but there is another (which I don't know if it's related): https://github.com/Codeception/module-symfony/issues/43

[2020-11-17 15:45] ThomasLandauer opened #43 "array_key_exists() expects parameter 2 to be array, string given"
When running the *entire* functional suite, I'm getting this `PHPUnit\Framework\Exception` on many tests:

Stack trace is:

2. [Symfony\Component\HttpFoundation\Session\Attribute\NamespacedAttributeBag::get()](https://github.com/symfony/symfony/blob/4.4/src/Symfony/Component/HttpFoundation/Session/Attribute/NamespacedAttributeBag.php#L63)
1. [Symfony\Component\HttpFoundation\Session\Session::get()

[2020-11-19 16:21] delectatech commented on #42
I don't know if it's the cause or not, but if I remove this line:
`echo "Testing $suiteName\n";`

from this file:

 `/vendor/symfony/phpunit-bridge/Legacy/SymfonyTestsListenerTrait.php` the error disappears.

[2020-11-19 16:22] roomm commented on #42
I don't know if it's the cause or not, but if I remove this line:
echo "Testing $suiteName\n";

from this file:

/vendor/symfony/phpunit-bridge/Legacy/SymfonyTestsListenerTrait.php the error disappears.

[2020-11-19 19:40] kes31 opened #46 "runSymfonyConsoleCommand with options is not possible"
It's currently not possible to execute a symfony console command with options given. The reason is, that the class CommandTester expects options given as a second array, this is not supported by the wrapper. The reason is that `runSymfonyConsoleCommand` executes the command with
`$exitCode = $commandTester->execute($parameters);`
for having working command options a second paramater has to be used

[2020-11-20 00:26] TavoNiievez commented on #46
@kes31 Thanks for reporting,
However, I was able to pass options to a command with the syntax described in the docblock:
[code]
In the case of *optional* options, the value you add for the option in the associative array does not matter, it will only take into account the key.
[code]
It would make more sense if there was a specific parameter for the options (Or rather, it is not so intuitive that

[2020-11-22 03:08] #46 closed

[2020-11-22 16:15] kes31 commented on #46
@TavoNiievez Thanks for your respons, I did further analysis on the problem. You can find here a testcase for my original problem where the analysis did not work: https://github.com/kes31/codeception-symfony-options-test.git.
As you can see any value works except `false`.

[2020-11-22 16:38] TavoNiievez commented on #46
Maybe [this](https://stackoverflow.com/questions/39406733/how-to-identify-if-an-option-was-supplied-without-a-value-with-symfony-console) will help (?).

[2020-11-23 13:39] TavoNiievez commented on #43
@ThomasLandauer thanks.

Is this related to Symfony Module or is it a Codeception issue when using Symfony classes?

[2020-11-23 14:13] ThomasLandauer commented on #43
I'm not sure, how can I find out? I'd rather guess Symfony Module, since Codeception itself probably doesn't use a session.

[2020-11-23 15:02] TavoNiievez opened #52 "Functions roadmap"
## To be added

### Totally new:
- [x] **seeUserHasRoles**: there is already a function that checks a single role `seeUserHasRole`, another is required that allows receiving an array of roles as a parameter. (#80)
- [x] **seeRememberedAuthentication** (#70)
- [x] **dontSeeRememberedAuthentication** (#70)

### From the laravel module:
- [x] **seeFormErrorMessages**: it can be added when `seeFormErr

[2020-11-23 16:47] TavoNiievez opened #54 "Missing tests"
_Originally posted by @DavertMik in https://github.com/Codeception/module-symfony/issues/50#issuecomment-732076031_

Due to the current test coverage of the module and the time it would take to correct compatibility issues in current test projects, I decided to create a [new test project](https://github.com/TavoNiievez/codeception-symfony-tests) with 3 branches:
- `main`, for the latest version of

[2020-11-23 17:27] TavoNiievez commented on #54
_Originally posted by @DavertMik in https://github.com/Codeception/module-symfony/issues/50#issuecomment-732076031_

To achieve this we first have to look at the current test coverage.

The vast majority of functions, unfortunately, are not currently being tested with CI services.

I would first suggest unifying efforts.

That is, if we are going to rely on `symfony/demo`, it would be convenient t

[2020-11-24 09:32] TheKassaK opened #55 "Bug with 1.3 seeEmailIsSent() : Failed asserting that 0 is greater than 0."
Hi,

When updated the symfony module to 1.3, I have errors when I use function : **seeEmailIsSent()**

I can't use 0 in expected count : **seeEmailIsSent(0)** or use **dontSeeEmailIsSent()**, both throw an error : Failed asserting that 0 is greater than 0.

[2020-11-24 12:09] ThomasLandauer commented on #42
Here is this line: https://github.com/symfony/symfony/blob/5.x/src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerTrait.php#L135

But I don't have this file in my `vendor` directory (`symfony/phpunit-bridge` not in `composer show`), so this can't be the reason in my case.

[2020-11-24 13:51] Naktibalda commented on #55
It was caused by https://github.com/Codeception/module-symfony/pull/35

[2020-11-24 16:32] #55 closed

[2020-11-24 16:56] TavoNiievez commented on #55
@TheKassaK thanks for reporting, a strict comparison was included to fix it in #56 .

if you update to 1.4.0 everything will work correctly.

[2020-11-24 17:02] TheKassaK commented on #55
@TavoNiievez : Thanks you ! I just tried and it’s ok now ;)

[2020-11-24 23:17] TavoNiievez commented on #54
**Update:** I am currently working on this. You can see the progress [here.](https://github.com/TavoNiievez/codeception-symfony-tests/blob/master/tests/Functional/SymfonyModuleCest.php)

[2020-11-25 14:56] TavoNiievez commented on #54
@Naktibalda i'm not really sure how do i write a relevant test for:
 invalidateCachedRouter
 persistService
 rebootClientKernel
 unpersistService
i didn't use them in my own tests. Any ideas?

[2020-11-27 09:42] TavoNiievez commented on #54
I feel quite comfortable with the current test coverage. Some Symfony 3.4 methods require attention like SwiftMailer email, but anyone who does actively use that version of symfony can contribute them. So, for my part this is ready to go.

[2020-11-28 16:55] TavoNiievez commented on #34
Hey, @BastienLedon
Hmm, in my applications i have a code very similar to yours, but it works perfectly for me.

I don't think what those answers suggest is necessary.

However, there are several things that should be verified, the best way it could help you is in a real application.
Can you create a demo of your problem based [on this repo](https://github.com/TavoNiievez/codeception-symfony-tests)

[2020-11-30 09:46] BastienLedon commented on #34
Of course, I think you can reproduce here, https://github.com/BastienLedon/codeception-symfony-tests

I've added one other user and just added the amLoggedAs inside those test. (And created a fake Listener)

You can see that inside the controller the user of Security is available but not inside the Listener.

[2020-11-30 17:13] TavoNiievez commented on #34
Yep, i can confirm that there is unexpected behavior here.

The [Security object requires the symfony container](https://github.com/symfony/symfony/blob/586f5b72da9f38ef0f7d1b5a30b476ee68302e8b/src/Symfony/Component/Security/Core/Security.php#L32) as a parameter.
For some reason in the tests the 'real' container: `'service_container'` is injected instead of the test container: `'test.service_conta

[2020-11-30 17:20] TavoNiievez commented on #34
In theory, a workaround would be to inject the correct service into the *env-specific* services config file: `services_test.yaml`, but i personally couldn't get it to work.

[2020-12-02 16:07] ThomasLandauer opened #66 "Rename all abbreviated function arguments to better support PHP8's Named Arguments"
If I'm understanding [PHP8's Named Arguments](https://www.php.net/releases/8.0/de.php?lang=de#named-arguments) right, instead of
[code]
...you can now do
[code]
The problem I'm seeing is that some functions have abbreviated/slang parameter names like `params` or `val` (instead of `parmeters` or `value`). If we change them **now**, it's no real BC break, since nobody (?) is using this feature yet.

[2020-12-02 18:14] TavoNiievez commented on #66
<details>
<summary>Clic to see answer.</summary>
<br/>

**Disclaimer:** the following is just my *personal* opinion:

I disagree. changing 'params' to 'parameters' is just a style change. There is really no standard that says that to better support named arguments they must contain whole words. In fact, in the default php functions you see these abbreviations very often.

So I think this would be

[2020-12-02 19:31] TavoNiievez commented on #66
Also note that the following functions also have abbreviations in their parameter names:
[code]

[2020-12-06 17:47] #54 closed

[2020-12-09 15:07] armin-crosslend commented on #34
This is most likely related to:
- https://github.com/doctrine/DoctrineBundle/issues/1166
- https://github.com/Codeception/Codeception/issues/3497

[2020-12-09 23:54] TavoNiievez commented on #66
Hey @ThomasLandauer Can you justify that this change is not trivial?

You can ping another maintainer if you want a second opinion.

This issue and its linked pull request will be closed otherwise.

[2020-12-10 14:35] ThomasLandauer commented on #66
Well, I don't have any other arguments other than that abbreviations are just bad practice *in general*. Even the Symfony docs switched from the ubiquitous `$em` to `$entityManager`: https://symfony.com/doc/current/doctrine.html#persisting-objects-to-the-database

But in the end it's a matter of personal taste ;-) @DavertMik @Naktibalda What do you say?

[2020-12-10 17:21] TavoNiievez commented on #66
`$em` **is** a bad name.

Some static code analyzers such as phpmd define names for fields or parameters with a [length less than 3 characters to be bad practice](https://phpmd.org/rules/naming.html), but abbreviations that do not go below that limit are **not**.

[2020-12-14 23:46] #66 closed

[2020-12-18 00:18] TavoNiievez commented on #52
I am closing this as most of the planned features were added.

[2020-12-18 00:18] #52 closed

[2020-12-18 19:21] TavoNiievez commented on #8
@Amunak what is the status of this issue?
It seems that it is actually a symfony problem and is not specific to this module

[2020-12-18 19:25] TavoNiievez commented on #43
You can try to reproduce this error in the test project or you can try to disable the symfony module in your other project, if the error persists then it is not related to the module.

[2021-01-02 01:02] TavoNiievez commented on #8
I am closing this since there is no real problem with the module and if it exists, it is a Symfony problem itself.

[2021-01-02 01:02] #8 closed

[2021-01-02 01:08] TavoNiievez commented on #87
I am closing this in favor of #42, where possible causes are mentioned.

[2021-01-02 01:08] #87 closed

[2021-01-05 17:25] ThomasLandauer opened #90 "`seeEmailIsSent()` not working when email is sent by a Symfony/Doctrine entity listener"
When using an [Entity Listener](https://symfony.com/doc/current/bundles/DoctrineBundle/entity-listeners.html) to send an email, `seeEmailIsSent()` doesn't notice it. When I do the same email command in the controller, it works.

The actual email delivery works in both cases (as shown by mailcatcher).

### Details

* Codeception version: 2.5.1
* PHP Version: 7.2

[2021-01-05 17:41] benr77 opened #92 ""The EntityManager is closed" with Symfony and Doctrine2 modules"
#### What are you trying to achieve?

Use the Symfony and Doctrine2 modules together, to allow "cleanup" by reversing transactions between tests, in functional tests against an SQLite database.

#### What do you get instead?

Many tests are simply failing with

[code]
If I do not enable the Doctrine2 module, the tests all succeed. But without it enabled, the transactions are not implemented and re

[2021-01-09 18:08] TavoNiievez commented on #95
Since this issue describes problems in unsupported versions of Codeception (2.3) and most likely too old version of Swift Mailer, I am closing this issue.

If it turns out that this problem is also present in Symfony Mailer or the latest supported version of Swiftmailer `6.2.4` on at least Symfony `v3.4.47` , and affects Codeception `4` and at least version `1.6`of Codeception Symfony module, plea

[2021-01-09 18:08] #95 closed

[2021-01-09 18:19] TavoNiievez commented on #88
@ThomasLandauer Can you reproduce this problem in the test project?

I need to know if this is still a problem with the supported versions of Symfony, at least Codeception 4 and version 1.6 of this module.

I am not able to reproduce or fix the problem with the versions described in this issue, so please update it.

[2021-01-10 20:03] TavoNiievez commented on #96
Mocking inside functional tests is unusual, generally, you will want to do a unit or integration test instead, as it tends to be seen [as unnecessary](https://stackoverflow.com/a/61643456).

However, if you really need it...

[The first solution](https://stackoverflow.com/a/19726963) involves mocking the service by disabling the original constructor and then registering the service in the Symfony

[2021-01-10 20:03] #96 closed

[2021-01-12 15:29] TavoNiievez commented on #99
@ThomasLandauer yeap. Done. Is #88 the same issue?

[2021-01-13 23:18] ThomasLandauer commented on #43
I'm using Symfony's `NamespacedAttributeBag` in my app and made a stupid mistake when fetching the entries. Still don't know why this only occurred when running Codeception ;-) Anyway - I think I fixed it, so I'm closing this.

[2021-01-13 23:18] #43 closed

[2021-01-14 02:11] TavoNiievez commented on #22
@ThomasLandauer I was revisiting this issue to evaluate if it could be part of `v2.0`.

However, when reviewing the code, I noticed that this change should be implemented in innerbrowser and not in a module that extends from it, the reason is that we would have to do the same change in other modules like laravel. The symfony module should only worry about printing with `--debug` the things that ar

[2021-01-14 02:11] #22 closed

[2021-01-14 03:07] TavoNiievez commented on #89
This issue is strongly related to #96, please check [the closing comment](https://github.com/Codeception/module-symfony/issues/96#issuecomment-757535060).

It can be tricky to find the correct solution to a question that might need to be rephrased.

[2021-01-14 03:07] #89 closed

[2021-01-14 10:40] ThomasLandauer commented on #22
Thanks - and sorry for opening the same thing twice! ;-)

[2021-01-15 03:12] TavoNiievez commented on #90
It seems like something went wrong when GitHub tried to port this issue. I am attaching an image of Google's cached version of the most relevant comment.
![imagen](https://user-images.githubusercontent.com/64917965/104676428-5d573e00-56b5-11eb-93b8-469c34e8852f.png)

[2021-01-15 03:17] TavoNiievez commented on #90
The Mail Logger for Symfony Mailer also has this problem.

I tried to permanently persist the services as @picoss suggested for Swift Mailer, however it didn't work. So unfortunately this issue will have to be open a little longer.

[2021-01-15 03:54] TavoNiievez commented on #91
This [was also asked](https://github.com/symfony/symfony/issues/25005) in the Symfony repository, and in that thread the how and why is explained very well.

[Some answers](https://github.com/symfony/symfony/issues/25005#issuecomment-693049282) suggest decorating the `Symfony\Component\HttpKernel\EventListener\StreamedResponseListener` class.

So, *'Closing as everything is well described here, an

[2021-01-15 03:54] #91 closed

[2021-01-20 00:59] ThomasLandauer commented on #42
After some debugging, I found out:
* The exception gets thrown by Symfony's [`NativeFileSessionHandler::__construct()`](https://github.com/symfony/symfony/blob/5.x/src/Symfony/Component/HttpFoundation/Session/Storage/Handler/NativeFileSessionHandler.php#L52)
* During my test, this function is called *multiple* times. Doing [`session_status()`](https://www.php.net/manual/function.session-status.php

[2021-01-20 13:33] ThomasLandauer opened #104 "Session not cleared/restarted between tests"
I think that when running tests, the session is not being reset after each tests. This would also explain https://github.com/Codeception/module-symfony/issues/42 : There's some session related error in *one* test, and all subsequent tests are using the same (now broken) session.

Would this be an issue of Symfony module or of the test runner? Don't know where to look at...

[2021-01-20 15:29] ThomasLandauer commented on #104
I just solved this by re-setting my `config/packages/test/framework.php` to Symfony's default:
[code]
If somebody else reads this: It would be nice to have a detailed explanation of those storage ID's somewhere. https://symfony.com/doc/current/components/http_foundation/session_testing.html#functional-testing doesn't really explain it. I started by (at least) adding a complete list of possible val

[2021-01-20 15:29] #104 closed

[2021-01-27 12:31] c33s commented on #99
@TavoNiievez via slack:

to sum things up:

codeception should never automatically load any .env files via params (if a user want to load it, they should load it via manual config). the reason behind this is that symfony is loading the dotenv files in a specific way which also differs between symfony versions. to have a correct behavior it should be always loaded like symfony is loading it. https:

[2021-02-04 11:32] ThomasLandauer commented on #42
The error is gone now, and I think it was due to this change in `config/packages/test/framework.php`:
[code]
See https://symfony.com/doc/current/reference/configuration/framework.html#storage-id

So I'm closing this.

@TavoNiievez Is it a given fact that Symfony module is only compatible with `session.storage.mock_file`? If yes, we should document this on https://codeception.com/docs/modules/Symfo

[2021-02-04 11:32] #42 closed

[2021-02-21 17:09] ThomasLandauer opened #117 "Suggestion: Option to load a different `.env` file"
My use case: My app uses the Symfony HTTP Client, which throws a `TransportException` if it can't connect: https://symfony.com/doc/current/http_client.html#handling-exceptions
And I want to assert that my app catches it correctly. So my idea: Put some bogus URL in `.env.test-failing`, then load it in `framework.php`:
[code]
So something like `$I->loadEnvFile('/.env.test-failing')` would be great!

[2021-03-16 12:24] ThomasLandauer opened #123 "Rename `MailerAssertionsTrait.php` to `MailerTrait.php`?"
Don't know if it's worth it, but the name "Assertions" isn't semantically right there, cause 2 of the 4 function are grabbers and not assertions ;-)

[2021-03-16 12:42] TavoNiievez commented on #123
I am aware of that.

However, that name was chosen based on Symfony's own nomenclature. This trait has an official namesake in Symfony, [check it out here](https://github.com/symfony/framework-bundle/blob/5.x/Test/MailerAssertionsTrait.php).

What really remains to be done is to add wrappers for those mail functions that are in Symfony, but they cannot be used (yet) in Codeception with the `$I->as

[2021-03-16 13:02] #123 closed

[2021-03-16 13:03] TavoNiievez commented on #123
@ThomasLandauer thanks for opening

[2021-03-16 16:15] ThomasLandauer commented on #88
Yes, the issue is still there. I created https://github.com/ThomasLandauer/symfony-module-tests/tree/issue_88
Run `vendor/bin/codecept run Functional EnvironmentCest:try -vvv`, and you'll see "foo" in the output, which is the string I put in `Functional.suite.yml`.

[2021-03-19 09:52] bedrich-schindler commented on #90
I have the same issue when sending e-mail this way using Swiftmailer. What more, after update from Symfony 4.4 and older Codeception to Symfony 5.2 and latest Codeception, I get `Emails can't be tested without Symfony Mailer service.`. If I install `symfony/mailer`, error disappears but it says that 0 emails were sent.

[2021-03-22 23:22] ThomasLandauer opened #125 "Status of Swift Mailer support in v2.0.0?"
@TavoNiievez Am I right that the `mailer` configuration you/we introduced in https://github.com/Codeception/module-symfony/pull/9/files was removed in v2.0.0, and the module just doesn't work with Swift Mailer anymore?

At https://github.com/Codeception/module-symfony/releases/tag/2.0.0 you only mentioned that Symfony 4.4 is required, but this doesn't automatically mean that Swift Mailer was dropp

[2021-03-22 23:42] TavoNiievez commented on #125
@ThomasLandauer As always, thanks for opening.

You're right.

I updated [the release notes](https://github.com/Codeception/module-symfony/releases/tag/2.0.0) to include that explanation. Is it okay as it is?

Yes, you're right, it seems like something important. The idea is that if you use Swift Mailer and you don't want (or can't) update to Symfony Mailer just stay on the 1.x branch of this modu

[2021-03-22 23:52] TavoNiievez commented on #125
I think those numbers were referring to the version of Codeception, when this module was integrated into the main project, but the new version (the one in this repo) seems that it was never added there.

[2021-03-23 07:40] Naktibalda commented on #125
Yes, they are Codeception version numbers, and the buttons are generated by documentation page generator, so they are the same for all modules.

Codeception had links to older versions of documentation probably since 2.0 release (If I remember correctly, they were to 1.6 and 1.8 versions originaly), so I replaced them with links to last minor versions when I extracted modules to separate repositor

[2021-03-24 11:04] ThomasLandauer commented on #125
Release notes: Since nobody knows about `mailer` configuration ;-) please change the order to:

[2021-03-24 12:53] TavoNiievez commented on #125
@ThomasLandauer Done.

[2021-03-28 15:20] #125 closed

[2021-04-13 14:45] ruslan-polutsygan commented on #34
Any news on this?
I have faced the same issue, spent whole day debugging my tests and I give up :disappointed:

[2021-04-13 15:07] Legion112 opened #130 "The kernel reboot"
I think the process of rebooting the kernel should be done right after the request has been finished.
Here we have logic that will reboot the kernel only when a second request is made.
https://github.com/Codeception/module-symfony/blob/master/src/Codeception/Lib/Connector/Symfony.php#L63
I think we should change it to:
[code]

**Why is it important?**
If the kernel is rebooted only when a second r

[2021-04-13 15:15] TavoNiievez commented on #130
@Legion112 could you please send a PR for this?

It would also help to have a test in our test project ( https://github.com/Codeception/symfony-module-tests ) with which we verify that your change solves the issue (and that it will not be damaged in future versions).

Please follow the contribution guide ( https://github.com/Codeception/module-symfony/blob/master/CONTRIBUTING.md ), and if all goes

[2021-04-13 15:36] Legion112 commented on #90
You should not be sending emails in the entity listeners. Nor in doctrine lifecycle.
Why? Her is why https://youtu.be/WW2qPKukoZY?t=1290

[2021-04-13 16:07] TavoNiievez commented on #90
@Legion112 Thank you very much for the video.
If this is *'the way it is'*, what would really close this issue would be a link to the official documentation where the same thing that is mentioned in the video is mentioned or where alternatives that someone could use instead of Doctrine Entity Listeners are mentioned.

do you think it's ok @ThomasLandauer ?

[2021-04-13 16:33] ThomasLandauer commented on #90
In short: I don't agree ;-)

In long: Codeception is a testing framework, not a best-practice guide. So besides the fact that for *any* best-practice there will always be some (strange) situations where breaking them is a good idea. My main argument is: It's not upon us to judge! If somebody does want to send an email from a listener - well, why not - it's *their* app, not ours ;-)

And besides no

[2021-04-14 08:41] ruslan-polutsygan commented on #34
Ok.
Problem is in wrong container being used for doctrine subscribers (Maybe for all persistent services? Didn't check)

Let's say there is a service.
[code]

If service is injected into controller, user is logged in:
[code]
If service injected into any doctrine subscriber - `$user` is `null`
[code]

However, if I configure `LocatorConsumerService` manually in `services_test.yaml` like this:
[code

[2021-04-14 14:13] ruslan-polutsygan commented on #34
`@request_stack` also empty from doctrine subscriber. Frustration.

[2021-05-30 21:43] Arhell opened #135 "add changelog to readme"

[2021-06-02 21:51] #135 closed

[2021-06-16 14:40] W0rma opened #138 "cantSeeAuthentication()/dontSeeAuthentication() does not work due to missing service"
I'm using symfony 5.3 and the new authenticator-based security (https://symfony.com/doc/current/security/authenticator_manager.html)

Calling `cantSeeAuthentication()`/`dontSeeAuthentication()` fails with the error message

[code]

From what I can see the service `security.helper` is grabbed directly from the container here: https://github.com/Codeception/module-symfony/blob/main/src/Codeception/M

[2021-06-16 15:27] TavoNiievez commented on #138
We have a test project ([symfony-module-tests](https://github.com/Codeception/symfony-module-tests)) that has tests with this module.

[I updated](https://github.com/Codeception/symfony-module-tests/pull/14/commits) this project to Symfony 5.3 using the new security system and according to our tests both methods are working correctly.

The error message gives you a little clue as to what the probl

[2021-06-17 10:11] W0rma commented on #138
Thank you for the quick reply.

So a workaround would be to inject the service `security.helper` somewhere in my app in order to avoid being removed during compilation of the DI container.

I wonder if there is a way to ensure that the service is always available when using the symfony module.

[2021-06-17 14:11] TavoNiievez commented on #138
last time I tried, setting it to public in the test config files didn't work, although according to the documentation (from symfony even) that's the solution.

I will keep this issue open until I can get it to work without that workaround, or until someone offers a better solution.

[2021-09-02 05:19] TavoNiievez commented on #138
I just made the changes in `symfony-module-tests`:

https://github.com/Codeception/symfony-module-tests/pull/19/files

Instead of doing a ghost injection of the security service in the app I defined the alias `'security.helper'` as `public` in the `test` environment thanks to the `services_test.php/.yaml` file.

Regarding this question... I think that, even if there is a way to define that specifi

[2021-10-22 10:16] Yarre opened #148 "Orphan Events assertion doesn't work using seeEventTriggered()"
As mentioned in the [code](https://github.com/Codeception/module-symfony/blob/main/src/Codeception/Module/Symfony/EventsAssertionsTrait.php#L160) Orphan Events can also be asserted but they don't exist in the provided Actual events array.

Reproduced with the following versions:
[code]

[2021-10-22 11:11] #148 closed, assigned to nobody

[2021-12-24 12:12] szymach opened #150 "Getting session storage to work between requests"
Hello,

I have a private library for handling translations, which works in a way where you have a translatable entity and a collection of translation entities for it, each for a different locale. Each time the translatable entity is being created or modified via Doctrine's Unit of Work, the current locale is being checked and either a new translation is created or an existing one is modified. The

[2021-12-29 16:00] ctrl-f5 opened #151 "persistent services break shared services"
This module sets a instance of the entity manager in the container because this is hard coded as a persistent service.

This results in all doctrine event listeners being instantiated on the first call, and those references end up in the entity manager.

However, when the kernel reboots, and a new test is started only the entity manager itself is set on the container. All listeners and their depen

[2021-12-29 16:07] TavoNiievez commented on #151
@ctrl-f5  thank you for your analysis on this matter.
Is this behavior different in other test frameworks?
Could you send a PR for this?

[2021-12-30 08:36] ctrl-f5 commented on #151
I havent used another testing framework for a couple of years now, and this is somewhat of an edge case.

Currently I see 3 options to fix this issue:

- do not persist entity manager over kernel reboots (not sure what the impact here is)
- have a config setting to add custom services to the persist list, manual config work but easiest workaround for this edge case. Would also still cause issues u

[2022-01-03 09:14] codedge opened #152 "Symfony 6 support"
Currently it is not possible to use the module with Symfony 6 as the reqs in `composer.json` only a Symfony 4 and 5.
Any plans to support Symfony 6?

[2022-01-03 13:14] TavoNiievez commented on #152
Hi @codedge ,

So far there is no `codeception/codeception` release tagged with Symfony 6 support, that's our blocker right now.

Support has already been implemented in `5.0` branch but, `5.0.0` in turn is blocked by PHPUnit `10.0.0` which will *probably* be released next month.

[2022-01-04 09:34] godrar commented on #34
Hello
My simple solution:

services_test.yaml
[code]

[2022-01-17 08:44] codedge commented on #152
According to this issue https://github.com/Codeception/Codeception/issues/6294 I hope the `5.0` release is going to happen in the next days as PHPUnit seem to be out of scope for `5.0`.

[2022-01-17 12:28] TavoNiievez commented on #152
The last comment in that thread is a month old, we decided to keep waiting for PHPUnit 10 after that...

[2022-02-07 15:31] amigian74 opened #155 "[Codeception/Rest, Codeception/Symfony] Security token not stored in token storage"
#### What are you trying to achieve?
I'm trying to test my API interface in Symfony. This API uses JWT-Authentication. So far retrieving the toke and calling the controller works.

#### What do you get instead?
Unfortunately the toke is not stored in the token storage and so my voters dont get the right user (they get a Null-Token instead).

[code]
### Details

* Codeception version: 4.1.29
* PHP

[2022-05-09 13:43] semaz commented on #152
Hello.
To support php 8 and symfony 6, two lines in the file `src/Codeception/Module/Symfony/SessionAssertionsTrait.php` need to be corrected:
1. Replace the content of the "getCurrentSession()" method with `return $this->grabService('session.factory')->createSession();`
2. In the `amLoggedInAs` function, you need to remove the second argument from the `UsernamePasswordToken` class so line 43 must

[2022-05-09 13:58] TavoNiievez commented on #152
@semaz Cool.
The tests in [`symfony-module-tests` ](https://github.com/Codeception/symfony-module-tests/blob/c9b8692083a3afd14828e9c1b4006e0b6308d852/tests/Functional/SessionCest.php#L70)also need to be adapted, for example making the change to `getCurrentSession()` prints:
[code]
it may be that this session variable has been renamed,
if you have time you can try to send PRs to add this support, I

[2022-05-10 15:57] semaz commented on #152
#157 Hi @TavoNiievez. I created first PR in my life)
Please review it.

[2022-05-10 16:42] TavoNiievez commented on #152
It seems to be a special occasion, I'm glad that Codeception is the project that receives your first PR.
**Friendly reminder**: we have some [`contribution guides`](https://github.com/Codeception/module-symfony/blob/main/CONTRIBUTING.md) in case you want to learn more about our workflow and how `module-symfony` uses [`symfony-module-tests`](https://github.com/codeception/symfony-module-tests) to p

[2022-05-27 22:37] #152 closed

[2022-09-12 13:31] tacman opened #163 ""Module is not enabled" error [HELP REQUESTED]"
I'm not configuring something correctly, but not sure what.  It fails on getModule, so I'm probably not enabling the module correctly.

[code]

[code]

[code]

The error log
[code]

[2022-09-12 17:35] Naktibalda commented on #163
Do you have any other suites?

[2022-09-12 19:00] tacman commented on #163
Just what's generated from the install/setup:

[code]

[2022-09-12 20:31] tacman commented on #163
Is there a demo project I can add this to to show my issue?  The Symfony demo + Codeception repo is pretty far out of date.

[2022-09-12 21:50] tacman commented on #163
I've created a repo of the Symfony demo that shows the problem:

https://github.com/tacman/codeception-symfony-demo

It's the Symfony demo, with codeception installed (and some modules).

The yaml files have changed, as above, and there's a trivial Listener that tries to get the module.

But something's not right. PHPStorm hightlights the Symfony module as missing.

Also, the constructor fails unl

[2022-09-13 23:21] Plhjk opened #164 "Is there a demo project I can add this to to show my issue? The Symfony demo + Codeception repo is pretty far out of date."
Is there a demo project I can add this to to show my issue?  The Symfony demo + Codeception repo is pretty far out of date.

I'll post a 6.1 version shortly.

_Originally posted by @tacman in https://github.com/Codeception/module-symfony/issues/163#issuecomment-1244400102_

[2022-09-13 23:22] Plhjk commented on #164
#

[2022-09-13 23:22] #164 closed

[2022-09-14 00:35] tacman commented on #163
FWIW, the code I'm using used to access the Symfony module worked in an older version of Codeception.  So I'm pretty sure I'm just configuring something incorrectly.

I'm playing with a project that creates a detailed tutorial from a cest, but am stuck on the setup.  Any help would be appreciated.

Thanks.

[2022-09-15 13:33] tacman commented on #163
@patrickjahns Any chance you could take a look at what's wrong with my setup?  It's just the symfony demo with codeception and an extension that tries to get a Symfony module.

[code]

I imagine it's a simple fix, some configuration issue, but I can't figure it out.  Thanks.

[2022-09-18 14:54] tacman commented on #163
I continue to hack, unsuccessfully:

[code]

Can anyone point me to working example code that grabs a Symfony service in a Module Extension?  @Naktibalda ?

[2022-10-03 22:36] tacman commented on #163
I don't understand.

I've enabled it everywhere that I can think of (https://github.com/tacman/codeception-symfony-demo/blob/main/tests/unit.suite.yml).

Can you give me an example of a configure that does work?

[2022-10-04 18:21] Naktibalda commented on #163
The problem is that your extension overrides `getSubscribedEvents` method and `Extension::receiveModuleContainer` method is not executed.

Either change `getSubscribedEvents` to
[code]

or delete `getSubscribedEvents` method and declare

[code]

[2022-10-04 19:45] tacman commented on #163
Thanks!  I'm making a bit of progress.

Now it's got a strange error message:

[code]

Of course, I tried making twig public in services.yaml, as suggested:

[code]

but it won't load correctly because it needs the file loader.

And I can't simply inject twig in LoggerSubscriber.

[2022-10-05 05:16] Naktibalda commented on #163
You `getService('twig')`, so I think that you must make `twig` public:

[code]

Based on https://symfony.com/doc/current/service_container/alias_private.html#aliasing

[2022-10-05 10:47] tacman commented on #163
no, now the cache won't even clear.

[code]

[2022-10-07 17:28] Naktibalda commented on #163
it is a Symfony configuration issue, I can't help with it.

[2022-10-07 18:15] tacman commented on #163
But this is the module-symfony library.  Are there are projects that use it?

Indeed, I haven't touched the symfony configuration, I've only configured this codeception yaml files.

[2022-10-10 14:29] specdrum-agc commented on #130
Hello!

I also would like to notice that way this module is reboot Symfony Kernel differ from way doing that in Symfony KernelTestCase. Looks like this leads to services which implements Symfony\Contracts\Service\ResetInterface are not reset.

Look at https://github.com/symfony/symfony/issues/40965 for example.

[2022-11-21 18:54] TerjeBr commented on #91
The corresponding issue was closed in Symfony, but it should be fixed here. Please reopen this issue.

[2022-11-22 06:51] Naktibalda commented on #91
Corresponding issue was closed 2 years earlier than this issue.
Workaround was documented in the linked comment https://github.com/symfony/symfony/issues/25005#issuecomment-693049282

[2022-11-24 06:08] Naktibalda commented on #91
It seems that workaroud requires configuration change in the application, so is it even possible to fix it in Codeception code?

Please raise pull request if you can get it working.